<style>
body { background:#000; color:#fff; text-align:center }
input,button { padding:10px }
button { background:#d4af37; border:none }
</style>

<h2>My Orders</h2>

<form method="POST">
  <input name="email" placeholder="Enter Email" required />
  <button>View Orders</button>
</form>
